<!DOCTYPE html>
<html>
<head>
	<title>Team</title>
</head>
<body>
	<div class="card text-center mx-auto m-5" style="max-width: 50rem;">
  		<div class="card-body">
    	<h5 class="card-title">MON SUPER TEAM</h5>
    <p class="card-text">
    	Remi, Ladislas, Nicolas, Ewan, Guillaume, Gauillaume(T), Diagana
    </p>
</div>

</body>
</html>