<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
</head>
<body>
	<div class="card text-center mx-auto m-5" style="max-width: 50rem;">
 		 <div class="card-body">
   			<h5 class="card-title">Venez a Bordeaux pour un verre entre mousse :)</h5>
    		<p class="card-text">Sinon sur slack @maja :)</p>
 		 </div>

	</div>

	 
</body>
</html>